@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --default-font: "Plus Jakarta Sans", sans-serif;
    --heading-font: "Raleway", sans-serif;

    --contrast-color: #ffffff;

    --biru-1: #d2edf0;
    --biru-2: #bce4e8;
    --biru-3: #a5dae0;
    --biru-4: #8fd1d9;
    --biru-5: #78c8d1;
    --biru-6: #4bb5c1;

    --pink-1: #fef4fa;
    --pink-2: #fee8f5;
    --pink-3: #fddcef;
    --pink-4: #fcc3e3;
    --pink-5: #fbaad8;
    --pink-6: #f991cc;

    --hitam-50: #f6f6f6;
    --hitam-100: #e7e7e7;
    --hitam-200: #d1d1d1;
    --hitam-300: #b0b0b0;
    --hitam-400: #888888;
    --hitam-500: #6d6d6d;
    --hitam-600: #5d5d5d;
    --hitam-700: #4f4f4f;
    --hitam-800: #454545;
    --hitam-900: #3d3d3d;
}

body:not(.blog_index):not(.livewire-body) {
    font-family: var(--default-font);
    background: linear-gradient(
        to top,
        var(--biru-1),
        var(--biru-3),
        var(--biru-4),
        var(--biru-6)
    );
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 768px) {
    body {
        padding: 2rem !important;
    }
}

.blog_index {
    font-family: var(--default-font);
    background-color: white;
    min-height: 100vh;
}

.pageKonsultasi {
    position: relative;
    font-family: var(--default-font);
    width: 100%;
    background: linear-gradient(to bottom, var(--biru-3), white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.konselorSignUp {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--default-font);
    background: linear-gradient(
        to bottom left,
        var(--biru-6),
        var(--biru-2),
        var(--biru-6)
    );
}

p,
a,
li,
ul,
input,
button {
    font-family: var(--default-font);
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

li {
    color: var(--black-color);
    cursor: pointer;
    font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

/* Sign Up Page */

.container-signup {
    width: 372px;
    background-color: white;
    height: 632px;
    border-radius: 20px;
}

.form-signup {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    max-width: 372px;
    font-family: var(--default-font);
}

/* Login Page */

.container-login {
    width: 372px;
    background-color: white;
    height: 632px;
    border-radius: 20px;
}

.form-login {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    max-width: 372px;
    font-family: var(--default-font);
}

.img-login {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: cover;
    background: center;
}

.blog-header h1 {
    font-size: 36px;
    tet-wrap: wrap;
    font-weight: bold;
    color: var(--hitam-900);
}

.blog-header p {
    color: var(--hitam-500);
    font-size: 15px;
}

.blog-header-2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.blog-header-2 p {
    color: var(--biru-6);
    font-size: 15px;
}

.blog-content img,
.blog-content figure {
    width: 100%;
    height: 580px;
    text-align: center;
    object-fit: cover;
    background: black;
    border-radius: 20px;
}

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
    font-weight: bold;
    font-family: var(--default-font);
    color: var(--hitam-700);
    text-wrap: wrap;
}

.blog-content h1 {
    font-size: 28px;
}
.blog-content h2 {
    font-size: 26px;
}
.blog-content h3 {
    font-size: 24px;
}
.blog-content h4 {
    font-size: 22px;
}
.blog-content h5 {
    font-size: 20px;
}
.blog-content h6 {
    font-size: 18px;
}

.blog-content p,
.blog-content span,
.blog-content a,
.blog-content ul,
.blog-content li {
    font-family: var(--default-font);
    font-weight: 300;
    font-size: 15px;
    text-wrap: wrap;
    color: var(--hitam-700);
    text-align: justify;
}

.blog-content ul,
.blog-content li {
    margin-left: 15px;
    cursor: auto;
}

.blog-content a {
    color: var(--biru-6);
    font-weight: 500;
    text-decoration: underline;
}

.blog-content a:hover {
    color: var(--biru-4);
}

/* Profile Pasien */

.profile_pasien {
    background: linear-gradient(
        to top,
        var(--biru-1),
        var(--biru-3),
        var(--biru-4),
        var(--biru-6)
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Page Konsultasi */
.chatInput {
    position: fixed; /* Agar tetap di bawah layar */
    bottom: 16px;
    border-radius: 28px;
    left: 50%;
    gap: 10px;
    transform: translateX(-50%);
    width: 600px;
    height: 60px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 2px solid var(--biru-6);
    z-index: 1000; /* Pastikan tetap di atas */
}

.bubblechatContainer {
    width: 100%;
    overflow-y: auto; /* Hanya scroll dalam container */
    padding-bottom: 100px; /* Mencegah ketutupan chatInput */
}

/* About Us */

.aboutUs-header {
    background: linear-gradient(to bottom, white, white, transparent);
}

.hp-aboutUs {
    background: linear-gradient(to bottom, var(--biru-4), var(--biru-4), white);
}

.team-card {
    border-radius: 10px;
    background: linear-gradient(to top, black, var(--biru-6));
}

/* Tantangan */

body.tantangan {
    background: linear-gradient(
        to top,
        var(--biru-1),
        var(--biru-3),
        var(--biru-4),
        var(--biru-6)
    );
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    font-family: var(--default-font);
}

body.kategori-tantangan {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--default-font);
    min-height: 100vh;
}

body.page-tantangan {
    background: linear-gradient(
        to top,
        var(--biru-1),
        var(--biru-3),
        var(--biru-4),
        var(--biru-6)
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: var(--default-font);
}
